# Virtual Environment
.venv/
venv/
env/

# Secrets & Environment Variables
.env
*.env

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ruff_cache/

# Databases
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db
